---
---

@import "{{ site.theme }}";

h1 {
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}

h4 {
  color: #FFFFFF;
}

h5 {
  color: #FFFFFF;
}

h6 {
  color: #FFFFFF;
}

p {
  color: #DDD3F5;
}

body {
  background-color: #1C084A;
}
